html {
  position: relative;
  min-height: 100%; }

ul > li {
  list-style: none; }

.background {
  background: #f7f9fd; }

.btn {
  background-color: #2255ce;
  border: solid 2px #2255ce;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  color: white;
  font-size: 1em;
  padding: 9px 16px;
  text-decoration: none; }

.btn:hover {
  font-size: 1em;
  padding: 9px 16px;
  text-decoration: none;
  color: white;
  background-color: #1a43a2;
  border: solid 2px #1a43a2;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px; }

.fa-check:before {
  color: #6fc754; }

.fa-angle-left {
  color: #1a43a2; }

.fa-angle-right {
  color: #1a43a2; }

button.navbar-toggler.navbar-toggler-right {
  border-color: #252a37; }

ul.nav_menu > li a.nav-link.menu-nosotros {
  color: #0f2762;
  font-weight: bold;
  font-size: 1em;
  font-family: "Montserrat", sans-serif; }

ul > li a.nav-link:hover {
  color: #2255ce; }

.menu_background_inverse {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15); }

h1.box-headline.letters.rotate-2 {
  font-family: "Montserrat", sans-serif; }

.background_header {
  background: url("../img/background_1.png");
  background-position: center;
  background-size: cover;
  height: 100vh; }

.title_section {
  color: #252a37;
  font-family: "Montserrat", sans-serif;
  font-size: 1.75em;
  font-weight: bold; }

.subtitle_section {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  font-weight: lighter;
  color: #626c84; }

.card.card_intro {
  width: 20rem;
  box-shadow: 0 2px 30px 0 #e0e5f0;
  border: 0; }
  .card.card_intro h4.card-title {
    color: #626c84;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    font-weight: bold; }
  .card.card_intro p.card-text {
    color: #626c84;
    font-family: "Raleway", sans-serif;
    font-size: 0.8em; }

.nosTab i {
  color: #2255ce; }
  .nosTab i .inside {
    font-size: 0.3em;
    font-family: "Raleway", sans-serif; }

.box-intro {
  text-align: center;
  display: table;
  height: 100vh;
  width: 100%; }

.box-intro .table-cell {
  display: table-cell;
  vertical-align: middle; }

.box-intro em {
  font-style: normal;
  text-transform: uppercase; }

b i:last-child {
  color: #ffbf00 !important; }

.box-intro h5 {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #999;
  line-height: 1.7; }

.mouse {
  position: absolute;
  width: 22px;
  height: 42px;
  bottom: 40px;
  left: 50%;
  margin-left: -12px;
  border-radius: 15px;
  border: 2px solid #888;
  -webkit-animation: intro 1s;
  animation: intro 1s; }

.scroll {
  display: block;
  width: 3px;
  height: 3px;
  margin: 6px auto;
  border-radius: 4px;
  background: #888;
  -webkit-animation: finger 2s infinite;
  animation: finger 2s infinite; }

@-webkit-keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes finger {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes finger {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
.box-headline {
  font-size: 130px;
  line-height: 1.0; }

.box-words-wrapper {
  display: inline-block;
  position: relative; }

.box-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0; }

.box-words-wrapper b.is-visible {
  position: relative; }

.no-js .box-words-wrapper b {
  opacity: 0; }

.no-js .box-words-wrapper b.is-visible {
  opacity: 1; }

.box-headline.rotate-2 .box-words-wrapper {
  -webkit-perspective: 300px;
  perspective: 300px; }

.box-headline.rotate-2 i,
.box-headline.rotate-2 em {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.box-headline.rotate-2 b {
  opacity: 0; }

.box-headline.rotate-2 i {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-20px) rotateX(90deg);
  transform: translateZ(-20px) rotateX(90deg);
  opacity: 0; }

.is-visible .box-headline.rotate-2 i {
  opacity: 1; }

.box-headline.rotate-2 i.in {
  -webkit-animation: box-rotate-2-in 0.4s forwards;
  animation: box-rotate-2-in 0.4s forwards; }

.box-headline.rotate-2 i.out {
  -webkit-animation: box-rotate-2-out 0.4s forwards;
  animation: box-rotate-2-out 0.4s forwards; }

.box-headline.rotate-2 em {
  -webkit-transform: translateZ(20px);
  transform: translateZ(20px); }

.no-csstransitions .box-headline.rotate-2 i {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 0; }

.no-csstransitions .box-headline.rotate-2 i em {
  -webkit-transform: scale(1);
  transform: scale(1); }

.no-csstransitions .box-headline.rotate-2 .is-visible i {
  opacity: 1; }

@-webkit-keyframes box-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg); }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg); } }
@keyframes box-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg); }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
    transform: translateZ(-20px) rotateX(-10deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
    transform: translateZ(-20px) rotateX(0deg); } }
@-webkit-keyframes box-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg); }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg); } }
@keyframes box-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
    transform: translateZ(-20px) rotateX(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
    transform: translateZ(-20px) rotateX(-100deg); }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
    transform: translateZ(-20px) rotateX(-90deg); } }
.card.card_intro.card_plan {
  width: 20rem;
  height: 35rem;
  box-shadow: 15px 25px 50px 0px rgba(92, 95, 101, 0.2);
  border: 0; }
  .card.card_intro.card_plan span.price {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #26272d;
    padding: 9px 18px;
    border: 2px solid #1a43a2;
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px; }
  .card.card_intro.card_plan h4.plan_title {
    color: #252a37;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem; }
  .card.card_intro.card_plan .plan_texto {
    color: #6b7c93;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em; }
    .card.card_intro.card_plan .plan_texto a.plan-list {
      color: #252a37;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      font-size: 0.9em; }

input #inputPassword2 {
  color: #6b7c93;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  border: solid 2px "Raleway", sans-serif;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  padding: 9px 16px;
  text-decoration: none; }

input #inputPassword2:active {
  color: #6b7c93;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  border: solid 2px "Raleway", sans-serif;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  padding: 9px 16px;
  text-decoration: none; }

.bx-wrapper, .bx-viewport {
  height: 220px !important; }

.footerPersonalized {
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden; }

.card .card-inverse .card_slider {
  background: transparent;
  border: 0; }
  .card .card-inverse .card_slider .card .card_slide {
    border: 0; }
  .card .card-inverse .card_slider .card-block .card_slide_background {
    border: 0;
    background: white; }

.slide {
  box-shadow: 10px 10px 16px 0px rgba(61, 61, 62, 0.15); }

.filter-button {
  background: #2255ce;
  color: white;
  font-size: 1em;
  text-align: center; }

.filter-button:hover {
  background: #1a43a2;
  color: white;
  font-size: 1em;
  text-align: center; }

.btn_filter {
  background-color: #2255ce;
  border: 0;
  color: white;
  font-size: 1em;
  padding: 12px 14px;
  text-decoration: none; }

.btn_filter:hover {
  background-color: #1a43a2;
  border: 0;
  color: white;
  font-size: 1em;
  padding: 12px 14px;
  text-decoration: none; }

.menu_categoria {
  background: #2255ce; }

.img_categorias {
  margin-bottom: 30px; }

.port-image {
  width: 100%; }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50vh;
  background-color: #f7f9fd; }

.tab-content {
  height: 250px; }

/*# sourceMappingURL=style.css.map */
